.graf--h {
	font-size: revert !important;
	margin-top: revert !important;
}

.css-1p0umon {
	font-size: 1.1rem !important;
	line-height: 1.5 !important;
}

.graf--p {
	margin-bottom: 20px !important;
}
