.graf--h {
	font-size: revert !important;
	margin-top: revert !important;
}

.css-1p0umon {
	font-size: 1.1rem !important;
	line-height: 1.5 !important;
}

.graf--p {
	margin-bottom: 20px !important;
	text-align: justify !important;
}
/* Styles for the input */
.ReactTags__tagInput {
	width: 300px;
	border-radius: 10px;
	display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	margin: 0;
	font-size: 20px;
	width: 100%;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 10px;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ddd;
	background: #63bcfd;
	color: white;
	font-size: 20px;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	border-radius: 10px;
}
.ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-left: 10px;
	cursor: pointer;
	font-size: 20px;
}

/* Styles for suggestions */
.ReactTags__suggestions {
	position: absolute;
}
.ReactTags__suggestions ul {
	list-style-type: none;
	box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
	background: white;
	width: 200px;
}
.ReactTags__suggestions li {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	margin: 0;
}
.ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
	background: #b7cfe0;
	cursor: pointer;
}

.ReactTags__remove {
	border: none;
	cursor: pointer;
	background: none;
	color: white;
}
